body{
  margin: 0px;
  padding: 0px;
}

#bg{
  position: fixed;
  width: 1920px;
}

#to_ex{
  position: fixed;
  width: 200px;
  height: 60px;
  border: none;
  background: none;
  font-size: 2rem;
  margin-left: 348px;
  margin-top: 640px;
}

.card{
  position: relative;
  display: flex;
  margin-left: 820px;
  padding-top: 200px;
}

.card img{
  position: block;
  width: 980px;
  height: auto;
}

.content{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 200px;
}

.img_part{
  position: relative;
  text-align: right;
}

#emotion{
  margin-left: 20px;
  width: 160px;
  height: auto;
}

.text_part{
  position: relative;
  width: 350px;
  text-align: left;
  margin-left: 30px;
}

.text_part> div{
  padding-top: 2px;
  width: 250px;
  height: auto;
}

#name, #ing{
  font-size: 1.5rem;
}

#line, #busy{
  font-size: 1.2rem;
}